html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
#root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.wrapper{
    min-height: 100vh;
    overflow: hidden;
}

.nav-bar {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 85vh;    
}

.about {
    background: #f3da75; 
}

.contact {
    background: #7ccc62;
}

.work {
    background: #5484bb;
}

.tech-stack {
    background: #d37956;
}

.home {
    position: relative;
    background: url('./assets/sumanth.png') 80% -20% no-repeat;
    /* filter: grayscale(40%); */
}

/* .intro {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
} */


