html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
}


.wrapper{
    min-height: 100vh;
    overflow: hidden;
}

.nav-bar {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 85vh;    
}

.about {
    background: #fbda52; 
}

.contact {
    background: #54943f;
}

.work {
    background: #22548c;
}

.tech-stack {
    background: #de6c40;
}